
:root {
  --navbar-bg: #ffffff;
  --navbar-border: #ccc;
  --text-color: #000000;
  --search-bg: #e5ebee;
  --search-placeholder: #7c7c7c;
  --button-bg: seagreen;
  --button-bg-hover: #2e8b57;
  --button-text: #ffffff;
  
  --body-bg: var(--navbar-bg);
}

body.dark-mode {
  --navbar-bg: #0E1113;
  --navbar-border: rgb(80, 80, 80);
  --text-color: #ffffff;
  --search-bg: #2a3236;
  --search-placeholder: #7c7c7c;
  --button-bg: seagreen;
  --button-bg-hover: #2e8b57;
  --button-text: #ffffff;
  
  --body-bg: var(--navbar-bg);
}


body{
    background-color: var(--body-bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}