.view-mode-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.view-mode-toggle-button img {
  width: 50%;
  height: 50%;
}